{% extends "base.html" %}
{% block content %}
<h2 class="title">
 Welcome to myBlog.
</h2>
<p>
	Hi! My name is Mishael k vabeizisa aka zisa.
	I am  studying Computer Science and Engineering.

	Due to this pendemic everyone had a hard time as for me too, so i decided to
	make my own website. 
</p>
<div  class = "gif">
	<left>
		<img src = "https://media1.giphy.com/media/mf4qECoTz8ZVK/giphy.gif?cid=ecf05e47j6rl5n90byek7sc39h0y19g95tmanmjuvfn4mw0w&rid=giphy.gif&ct=g" alt = "anime gif">
	</left>
</div>
{% endblock content %}

